* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 3px solid black;
}

/*layout*/

.container {
    width: 800px;
    margin: 0 auto;
}

/*margin*/

.mt-40 {
    margin-top: 40px;
}

.m-20 {
    margin: 20px;
}